/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.scroll-arrow {
    position: fixed;
    right: 26px;
    bottom: 26px;
    width: 36px;
    height: 36px;
    background: rgba(0, 0, 0, 0.66);
    border-radius: 50% 0 50% 50%;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    z-index: 9;
  }
  #scroll-text{
    color: white;
    position: fixed;
    right: 30px;
    bottom: 33px;
    font-size: 19px;
    z-index: 10;
    text-shadow: 2px 2px 10px purple;
    font-family: Arial, sans-serif;
    font-weight: bold;
  }
  #scroll-text:hover {
    color: lightgreen;
  }
  html {
    scroll-behavior: smooth;
  }
.banner {
    width: 100%;
    height: 800px;
    background-image: url('../images/banner.jpg');
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-div {
    width: 100%;
    height: 70px;
    padding: 5px 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    z-index: 100;
    position: relative;
}
.logo {
    width: 20%;
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 14px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.logo-text {
    text-align: center;
    font-family: 'poppins';
    font-weight: 500;
    cursor: pointer;
}
.nav {
    width: 70%;
    height: 70px;
}
.nav-links {
    width: 100%;
    height: 70px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-family: 'poppins';
    font-weight: 500;
}
.nav-link {
    padding: 5px 10px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.nav-link:hover {
    background-color: #000;
    color: #fff;
    cursor: pointer;
}
.reg {
    width: 100px;
    height: 40px;
    border-radius: 20%;
    background-color: #f1f0f0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; 
    font-family: 'poppins';
    font-weight: 500;  
    margin: 15px;
    text-align: center;
    cursor: pointer;
}
.reg:hover {
    background-color: #000;
    color: #fff;
    cursor: pointer;
}
.burger-bar {
    display: none;
}
.banner-details {
    width: 100%;
    padding: 20px 15%;
    margin-top: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 50px;
}
.badge {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding: 10px 20px;
    font-family: 'poppins';
    font-size: 20px;
    border-radius: 10px;
    background-color: #f1f0f0;
}
.banner-heading {
    font-size: 60px;
    font-family: 'poppins';
    font-weight: 700;
    color: #FFF;
    text-align: center;
}
.btn {
    padding: 15px 30px;
    font-size: 18px;
    background-color: #000;
    color: white;
    border: 1px solid #000;
    cursor: pointer;
}
.btn:hover {
    background-color: #fff;
    color: #000;
    cursor: pointer;
}
.booking {
    /* width: 100%; */
    padding: 20px 10px;
    background-color: #FFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    opacity: 0.7 !important;
}
.inp {
    width: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-family: 'poppins';
    row-gap: 5px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}
.input2 {
    height: 40px;
    text-indent: 5px;
    font-size: 16px;
}
.book-btn {
    padding: 10px 30px;
    cursor: pointer;
    background-color: #000;
    color: #FFF;
}
.book-btn:hover {
    background-color: #fff;
    color: #000;
    cursor: pointer;
}
.about {
    width: 100%;
    padding: 50px 15%;
    background-color: #FFF;
    font-family: 'poppins';
    font-size: 20px;
    font-weight: 200;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 10px;
}
.highlight {
    font-weight: bold;
    font-size: 35px;
}
.icon {
    font-size: 50px;
    color: #028bd6;
}
.hotel-rooms {
    width: 100%;
    padding: 50px 15%;
    font-family: 'poppins';
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
    background-color: #fffafa;
}
.text1-title {
    font-weight: bold;
    font-size: 30px;
}
.rooms-area {
    width: 100%;
    padding: 20px 0;
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: 5%;
       -moz-column-gap: 5%;
            column-gap: 5%;
    row-gap: 50px;
}
.rooms {
    width: 30%;
    background-color: #FFF;
}
.room-img {
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.room-image {
    width: 100%;
    cursor: pointer;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.room-image:hover {
    -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
            transform: scale(1.5);
}
.room-details {
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    row-gap: 10px;
}
.text {
    font-weight: bold;
    font-size: 20px;   
}
.subscribe {
    width: 100%;
    padding: 50px 15%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.sub-text {
    width: 45%;
    padding: 20px;
    font-family: 'poppins';
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
}
.logo2 {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.sub-desc {
    font-size: 15px;
}
.sub-area {
    width: 45%;
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-family: 'poppins';
    row-gap: 20px;
}
.text2 {
    font-family: 'poppins';
}
.sub-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.sub-inp {
    width: 70%;
    height: 60px;
}
.food {
    width: 100%;
    height: 800px;
    padding: 50px 15%;
    background-color: #fff;
    background-image: url('../images/restaurant.jpg');
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;  
    -webkit-box-pack: end;  
        -ms-flex-pack: end;  
            justify-content: flex-end;
}
.food-detail {
    width: 40%;
    margin-bottom: 300px;
    padding: 50px;
    font-family: 'poppins';
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    row-gap: 15px;
}
.food-text {
    font-weight: bold;
    font-size: 30px;
}
.section-header {
    font-size: 50px;
}
.premium {
    width: 100%;
    padding: 50px;
    font-family: 'poppins';
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 10px;
    background-color: #f9f9f9;
}
.prooms-area {
    width: 100%;
    height: 1000px;
    margin-top: 50px;  
    display: -webkit-box;  
    display: -ms-flexbox;  
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.proom-img {
    width: 35%;
    height: 1000px;
    overflow: hidden;
}
.proom-boxes {
    width: 60%;
    height: 1000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-family: 'poppins';
}
.proom-image {
    width: 100%;   
}
.proom-box {
    width: 100%;
    padding: 20px;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    row-gap: 15px;
    font-family: 'poppins';
}
.gallery {
    width: 100%;
    padding: 50px 15%;
    background-color: #000; 
    row-gap: 10px; 
    text-align: center;
}
.text2-title {
    font-weight: bold;
    font-size: 30px;
    color: #FFF;
    padding: 30px 10px;
    text-align: center;
    font-family: 'poppins';
}
.gal-image {
    width: 33%;
    cursor: pointer;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    opacity: 0.5 !important;
}
.gal-image:hover {
    opacity: 1 !important;
}
.footer {
    padding: 16px;
    width: 100%;
    background-color: #f9f9f9;
    border-radius: 12px;
    padding: 100px;
}
.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: 1px solid black;
}
.footer-logo {
    width: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 14px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.detail {
    width: 200px;
    font-family: 'poppins';
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.footer-text {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 16px;
}
.about-us {
    margin-bottom: 16px;
    font-family: 'poppins';
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.footer-para {
    line-height: 25px;
}
.social {
    padding: 10px 0;
    margin-top: 10px;
}
@media (max-width: 1097px) {
    .premium {
        width: 100%;
    }
    .proom-img {
        width: 60%;
    }
    .text1-title {
        font-size: 20px;
    }
    .gallery {
        text-align: center;
    }
    .food-detail {
        width: 100%;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-bottom: 25%;
    }
    .food-text {
        font-size: 30px;
        text-align: center;
    }
    .logo {
        gap: 5px;
    }
    .booking {
        -webkit-column-gap: 2px;
           -moz-column-gap: 2px;
                column-gap: 2px;
    }
    .numb {
        font-size: 14px;
    }
    .sub-inp {
        width: 90%;
    }
    .div-food {
        width: 50%;
    } 
}
@media (max-width: 977px) {
    .container {
        text-align: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 100%;
    }
    .footer-image {
        width: 100%;
        text-align: center;
    }
    .footer-logo {
        display: none;
    }
    .detail {
        text-align: center;
        width: 100%;
    }
    .p-text {
        text-align: center;
    }
    .input2 {
        font-size: 14px;
     }
    .logo {
        font-size: 20px;
        width: 100%;
   }
    .reg {
        display: none;
    }
    .header-div {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;   
    }
    .nav {
        display: none;
    }
    .nav.activeNav {
        display: block;
        width: 100%;
        position: relative;
        top: 20px;
    }
    .nav-links {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .burger-bar {
        display: block;
        padding: 25px;
        text-align: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        position: absolute;
        top: 5px;
        right: 15px;
    }
    .numb2 {
        font-size: 10px;
        font-weight: bold;
    }
    .sub-btn {
        width: 60%
    }
    .sub-area {
        width: 70%;
    }
    .proom-img {
        display: none;
    }
    .proom-boxes {
        width: 100%;
    }
    .text {
        font-size: 16px;
    }
}
@media (max-width: 788px) {  
    .ul-li {
        display: none;
    }
    .text2 {
        display: none;
    }
    .detail {
        width: 100%;
        text-align: center;
    }
    .logo {
        font-size: 20px;
        width: 100%;
    }
    .nav {
        display: none;
    }
    .reg {
        display: none;
    }
    .burger-bar {
        display: block;
        padding: 25px;
        text-align: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .numb2 {
        font-size: 10px;
        font-weight: bold;
    }
    .sub-btn {
        width: 60%
    }
    .sub-area {
        width: 70%;
    }
    .proom-img {
        display: none;
    }
    .proom-boxes {
        width: 100%;
    }
    .roomb {
        display: none;
    }
    .rooms-area {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .rooms {
        width: 100%;
    }
    .subscribe {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .text4 {
        font-size: 20px;
    }
    .input2 {
        font-size: 9px;
     } 
     .text {
         font-size: 14px;
     }
     .booking {
         width: 140%;
     }
     .proom-boxes {
         font-size: 14px;
     }
     .premhead {
         text-align: center;
     }
}
@media (max-width: 481px) {
    .nav.activeNav {
        display: block;
        width: 100%;
        position: relative;
        top: 20px;
        font-size: 10px;
    }
    .sub-btn {
        width: 90%
    }
    .sub-area {
        width: 100%;
    }
    .sub-text {
        width: 100%;
    }
    .premium {
        height: 1300px;
        font-size: 10px;
    } 
    .banner-heading {
        font-size: 20px;
    }
    .banner-details {
        margin-top: 50px;  
    }
    .badgep {
        font-size: 20px;
    }
    .badge {
        margin-top: 10px;
    }
    .booking {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        row-gap: 10px;
    }
    .inp {
        width: 50%;
    }
    .food-text {
        font-weight: bold;
        font-size: 25px;
    }
    .food-p {
        font-weight: bold;
        font-size: 20px;
    }
    .food-detail {
        width: 100%;
    }
    .last-box {
        display: none;
    }
    .text-2 {
        text-align: center;
    }
    .badgep {
        font-size: 15px;
    }
    .sub-form {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .detail {
        display: none;
    }
    .footer-logo {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
}
@media (max-width: 320px) {
    .text2 {
        font-size: 15px;
    }
    .gal-image {
        display: none;
    }
    .img1 {
        display: block;
        width: 100%;
    }
    .proom-boxes {
        row-gap: 1px;
    } 
    .footer-logo {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }  
}